

.login_frame{
    width: 40%;
    height: 25pc;
    margin-left: 29%;
    margin-top: 5%;
    background-color: aqua;
    border-radius: 10px;
}
.login_shopname{
    font-size: 40px;
    font-weight: 500;
    margin-left: 37%;
}
.login_title{
    font-size: 23px;
    font-weight: 500;
    margin-left: 35%;
    padding-top: 5%;

}
input{
    margin-left: 10px;
    background-color: transparent;
    width: 70%;
    border:none;
    border-bottom: 2px solid rgb(7, 7, 7);
}
.name_input{
    margin-left: 35px;
}
.input_label{
    margin-left: 35px;
    margin-top: 10%;
    font-size: 18px;
    font-weight: 500;
}
.login_btn{
    margin-left: 45%;
    margin-top: 20px;
    width: 70px;
    height: 35px;
    border-radius: 25px;
    border: none;
}