.owner_employee{
    display: flex;
    justify-content: space-between;
}
.active-owner-employee,.owner-employee-default{
    width: 50%;
    height: 50px;
}

.active-owner-employee{ background-color: rgba(36, 36, 178, 0.721); }


.owner-employee-default{ background-color: rgba(52, 52, 54, 0.721); }



.add_employee{
    background-image: linear-gradient(to right,#66faff, #adfffe);
    width: 60%;
    height: 40pc;
    margin-bottom: 10%;
    margin-left: 20%;
    border-radius: 10px;
}
.add_head{
    font-size: 30px;
    font-weight: 500;
    margin-left: 40%;
    margin-top: 2%;
}
.add_lable{
    margin-left: 15%;
    margin-top: 1%;
    font-weight: 500;
}

.add_input0{
    margin-left: 8%;
    margin-bottom: 3%;
    width: 30pc;
}
.add_input1{
    margin-left: 7%;
    margin-bottom: 3%;
    width: 30pc;
}
.add_input2{
    margin-left: 3.5%;
    margin-bottom: 3%;
    width: 30pc;
}
.add_input3{
    margin-left: 5.9%;
    margin-bottom: 3%;
    width: 30pc;
}
.add_input4{
    margin-left: 6.5%;
    margin-bottom: 3%;
    width: 30pc;
}
.add_input5{
    margin-left: 4.9%;
    margin-bottom: 3%;
    width: 30pc;
}
.add_input6{
    margin-left: 4.5%;
    margin-bottom: 3%;
    width: 30pc;
}
.add_btn{
    margin-left: 45%;
    height: 2pc;
    width: 6pc;
    border-radius: 25px;
    background-color: blue;
}



.employee_search{
    width: 30pc;
    border: solid 2px;

}