.owner_navs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.active-owner,.owner-default{
    width: 33.33%;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(234, 236, 240);
    

}
.active-owner{background-color: rgb(29, 29, 168); }

.owner-default { background-color: rgba(52, 52, 54, 0.721); }



