.stockkeeper_navs{
    display: flex;
    justify-content: space-between;
    
}
.sk-default,.active-sk{
    width: 50%;
    height: 50px;
}
.sk-default { background-color: rgba(52, 52, 54, 0.721); }

.active-sk{ background-color: rgba(29, 29, 222, 0.721); }



.add_item{
    margin-left: 10%;
}