.active-cashier,.cashier-default{
    width: 50%;
    height: 50px;

}

.active-cashier{ background-color: rgba(86, 86, 193, 0.721); }


.cashier-default { background-color: rgba(52, 52, 54, 0.721); }
