.owner_stores{
    display: flex;
    justify-content: space-between;

}
.owner_stores_search,.owner_stores_add{
    width: 50%;
    height: 50px;

}

.owner_stores_search{ background-color: rgba(52, 52, 54, 0.721); }
.owner_stores_search:focus{ background-color: rgb(52, 52, 54); }

.owner_stores_add { background-color: rgba(52, 52, 54, 0.721); }
.owner_stores_add:focus {background-color: rgb(52, 52, 54); }

.add_item{
    background-image: linear-gradient(to right,#66faff, #adfffe);
    width: 80%;
    height: 30pc;
    margin-bottom: 10%;
    margin-left: 5%;

}
.storeadd{
    margin-left: 25%;
    margin-top: 40px;
    
}
.storeadd_1{
    margin-left: 20px;
    width: 25pc;
}
.storeadd_2{
    margin-left:16px;
    width: 25pc;
}
.storeadd_3{
    margin-left: 19px;
    width: 25pc;
}
.storeadd_4{
    margin-left: 37px;
    width: 25pc;
}
.srore_add{
    margin-left: 45%;
    margin-top: 3%;
    width: 110px;
    height: 40px;
    border-radius: 25px;
    background-color: blue;
}